
body {
   
    font-family: sans-serif !important;
    background  : linear-gradient(to right, #f0ecec, #7b9dc4) !important

}


.center{
    text-align: center;
    font-weight: bolder;


}

.buscador{
    text-align: center;


}

.box input[type="text"],select,input[type="file"] {
    border: 0;
    /* display: block; */
    margin: 0px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    margin-top: 0em;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s

}


.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: #2ecc71
}

.alert{

    text-align: center;
}

