
body {
   
    font-family: sans-serif !important;
    background  : linear-gradient(to right, #f0ecec, #7b9dc4) !important

}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: #2ecc71
}

.box {
    width: 900px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    color: white;
    transition: 0.25s;
    align-items: center;
    margin-top: 200px;
    margin-left: -200px;

    


}

.card-body{
    color: white;
    background  : linear-gradient(to right, #0f0725, #1c60af) !important
}

.box button[type="text"]:focus,
.box button[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: #2ecc71
}

.box input[type="text"],select,input[type="file"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s
}



.alert{

    text-align: center;
}