body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif !important;
    background  : linear-gradient(to right, #f0ecec, #7b9dc4) !important

}
.navbar{
    margin: 0px;
    padding: 0px;


}

